.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
	max-width: 300px ;
	margin: auto;
	text-align: center;
	font-family: arial;
}

.price {
	color: grey;
	font-size: 22px;
}

.card button {
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card button:hover {
	opacity: 0.7;
	color: yellow;
}

body{
	background-image:url("wallpaper2you_137126.jpg") ;
	background-image: url('Be Legendary Logo.png');
	background-repeat: no-repeat;
	background-size: 105%;
	background-position:;
	background-color: black;
} 

h2 {
	text-align: center;
	color: whitesmoke;
	text-shadow: 1px 1px yellow;
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;;
}

.navbar-brand {
	font-family: "Spectral SC", serif;font-family: "Spectral SC", serif;
}

button {
	color: whitesmoke;
	background-color: darkred;
	border-radius: 8px;
	border: none;
	position: center;
	padding: 15px 32px;
	text-align: center;
}

.Legendary {
	
	width: 100%;
}


